<div class="header-main-cnt">
    <div class="header">
     <div class="bookstore-icon" routerLink="">
        <mat-icon class="book-icon" svgIcon="book-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
       <span >BookStore</span>
    </div>

    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
    </div>

    <div class="profile">
      
        
            <button  mat-button [matMenuTriggerFor]="menu" #menuTrigger>  <div class="btn"><mat-icon class="profile-icon"  svgIcon="profile-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon></div>{{userName}} </button>
            <mat-menu #menu="matMenu">
                <div class="profile-main-cnt" *ngIf="loggedout ; else loggedIn">
                    Welcome
                    <div>To access account and manage order</div>
                    <div><button mat-stroked-button color="warn" (click)="openDialog()"> &nbsp; LOGIN/SIGNUP &nbsp;</button>
                    </div>
                    <hr>
                    
                    <!-- <div routerLink="wishList" >Wishlist</div> -->
                </div>
                <ng-template #loggedIn>
                    <div class="profile-main-cnt">

                    <div><button mat-stroked-button color="warn"> <button mat-button (click)="logout()">&nbsp; LOGOUT &nbsp;</button>
                    </button></div>
                    <hr>
                    <div routerLink="orderList">My Orders</div>
                    <div routerLink="wishList" >Wishlist</div>
                </div>
                </ng-template>
              <!-- <button mat-menu-item (click)="openDialog()"></button> -->
            </mat-menu>
        
    </div>

    <div class="cart" routerLink="cart">
       
        <div class="cart" routerLink="cart">
            <button  mat-button  #menuTrigger>  <div class="btn"> <mat-icon class="cart-icon" svgIcon="cart-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon></div>Cart </button>
            
        </div>
    </div>
    <!-- <button (click)="logout()">logout</button> -->
</div>
</div>
<!-- ----------------------------------------------------- -->
<div *ngIf="false; else nav"  class="book-main-cnt">
    <div routerLink="" class="items">
        <span class="book">Books</span>
        <span>(128items)</span>
    </div>
    <div class="sort">
        
     &nbsp;  Sort By Relevance &nbsp;
            <mat-icon mat-button [matMenuTriggerFor]="beforeMenu" svgIcon="dropdown-icon" aria-hidden="false" aria-label="dropdown SVG icon"></mat-icon>
            &nbsp;
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item>Price: Low to High </button>
              <button mat-menu-item>Price: High to Low </button>
              <button mat-menu-item>Newest Arrivals </button>
            </mat-menu>
    </div>
</div>
<ng-template #nav>
    <div  class="book-main-cnt">
        <div routerLink="" class="items">
            <span class="home">Home</span>
            <!-- <span><b>{{page}}</b></span> -->
        </div>
        <div class="sort">
            
        </div>
    </div>
    
</ng-template>




