<!-- <div *ngIf="page; else nav"  class="book-main-cnt">
    <div class="items">
        <span class="book">Books</span>
        <span>(128items)</span>
    </div>
    <div class="sort">
     &nbsp;  Sort By Relevance &nbsp;
            <mat-icon mat-button [matMenuTriggerFor]="beforeMenu" svgIcon="dropdown-icon" aria-hidden="false" aria-label="dropdown SVG icon"></mat-icon>
            &nbsp;
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item>Price: Low to High </button>
              <button mat-menu-item>Price: High to Low </button>
              <button mat-menu-item>Newest Arrivals </button>
            </mat-menu>
    </div>
</div>
<ng-template #nav>
    <div  class="book-main-cnt">
        <div class="items">
            <span class="book">Books</span>
            <span>(128items)</span>
        </div>
        <div class="sort">
            
        </div>
    </div>
    
</ng-template> -->

<div class="book-comp">
    <app-book></app-book>
</div>